body {
  background: var(--color2);
  padding: 80px;
}
form {
  padding: 20px;
  text-align: center;
}
.or {
  text-align: center;
}
input[type="text"],
input[type="submit"] {
  background: none;
  padding: 16px;
  outline: none;
  color: var(--color1);
  font-size: 1rem;
  transition: 0.3s ease;
}

input[type="submit"] {
  border: 3px solid var(--color1);
  border-radius: 32px;
}
input[type="text"] {
  transition: 0.3s ease;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color1);
}
input[type="submit"] {
  background: var(--color2);
  color: var(--color1);
  transition: 0.55s ease;
}
input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px var(--color1);
  /* background: var(--color1); */
  color: var(--color2);
}
p {
  color: var(--color1);
}
select {
  background: var(--color2);
  color: white;
  padding: 8px;
}
.fighting {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fighter-left,
.fighter-right {
  position: relative;
  color: white;
  width: 45%;
  height: 300px;
  background: rgba(0, 0, 0, 0.632);
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid rgb(0, 0, 0); */
}
.fighter-left::after,
.fighter-right::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(15, 29, 53);
  background: linear-gradient(
    90deg,
    rgba(15, 29, 53, 1) 0%,
    rgba(164, 190, 206, 0) 14%,
    rgba(43, 59, 81, 0) 85%,
    rgba(15, 29, 53, 1) 100%
  );
  /*, linear-gradient(
      0deg,
      rgba(15, 29, 53, 1) 0%,
      rgba(164, 190, 206, 0) 14%,
      rgba(43, 59, 81, 0) 85%,
      rgba(15, 29, 53, 1) 100%
    ); */
}
.fighter-left {
  background: url("img/player.png") center/cover;
  text-shadow: -2px -2px 0 red, -6px -6px 2px black;
  overflow: hidden;
}
.fighter-right {
  background: url("img/enemy.png") center/cover;
  text-shadow: -1px -1px 0 red, 4px 4px 0 blue, -6px -6px 2px black;
  overflow: hidden;
}
.vs {
  width: 40%;
  animation: versus 0.9s 2s both;
  /* 3s = delay */
}
@keyframes versus {
  0% {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
h2 {
  position: absolute;
  display: inline-block;
  transform: translate(-50%);
  left: 50%;
  top: 30px;
  font-size: 44px;
  color: white;
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 64px;
  text-transform: uppercase;
}

.style-player1 {
  text-shadow: 0 0 10px blue;
  color: var(--color1);
  text-align: center;
  background: rgba(0, 0, 0, 0.664);
  animation: player 2s linear infinite both;
}

.style-player2 {
  text-shadow: 0 0 10px black;
  color: red;
  text-align: center;
  background: rgba(0, 0, 0, 0.664);
  animation: player 2s linear infinite both;
}

@keyframes player {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.perso1 {
  color: green;
}

.perso2 {
  color: red;
}
/* .fighting-container {
  background: rgba(255, 255, 255, 0.733);
} */
.fighting-container p {
  color: var(--color1);
}
/* .dice {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%);
  left: 50%;
  bottom: 5%;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  font-size: 30px;
  font-weight: bold;
} */


table {
  margin-left: 50px;
  color: white;
  position:absolute;
  top: 80px;
}

